/Noodles.LnEn.sln.DotSettings.user
/.vs
/CommonInitializer/obj
/CommonInitializer/bin
/Noodles.ASPNETCore/bin
/Noodles.ASPNETCore/obj
/Noodles.Common/bin
/Noodles.Common/obj
/Noodles.DomainCommons/bin
/Noodles.DomainCommons/obj
/Noodles.EventBus/bin
/Noodles.EventBus/obj
/Noodles.Infrastructure/bin
/Noodles.Infrastructure/obj
/Noodles.Jwt/bin
/Noodles.Jwt/obj
/IdentityService.WebAPI/bin
/IdentityService.WebAPI/obj
/IdentityService.Domain/bin
/IdentityService.Domain/obj
/IdentityService.Infrastructure/bin
/IdentityService.Infrastructure/obj
/FileService.Domain/bin
/FileService.Domain/obj
/FileService.Infrastructure/bin
/FileService.Infrastructure/obj
/FileService.SDK.NETCore/bin
/FileService.SDK.NETCore/obj
/FileService.WebAPI/bin
/FileService.WebAPI/obj






