/Noodles.LnEn.sln.DotSettings.user
/.vs
/CommonInitializer/obj
/CommonInitializer/bin
/Noodles.ASPNETCore/bin
/Noodles.ASPNETCore/obj
/Noodles.Common/bin
/Noodles.Common/obj
/Noodles.DomainCommons/bin
/Noodles.DomainCommons/obj
/Noodles.EventBus/bin
/Noodles.EventBus/obj
/Noodles.Infrastructure/bin
/Noodles.Infrastructure/obj
/Noodles.Jwt/bin
/Noodles.Jwt/obj
/IdentityService.WebAPI/bin
/IdentityService.WebAPI/obj
/IdentityService.Domain/bin
/IdentityService.Domain/obj
/IdentityService.Infrastructure/bin
/IdentityService.Infrastructure/obj
/FileService.Domain/bin
/FileService.Domain/obj
/FileService.Infrastructure/bin
/FileService.Infrastructure/obj
/FileService.SDK.NETCore/bin
/FileService.SDK.NETCore/obj
/FileService.WebAPI/bin
/FileService.WebAPI/obj






Listening.Main.WebAPI/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Listening.Main.WebAPI/obj/Debug/net7.0/Listening.Main.WebAPI.AssemblyInfo.cs
Listening.Main.WebAPI/obj/Debug/net7.0/Listening.Main.WebAPI.AssemblyInfoInputs.cache
Listening.Main.WebAPI/obj/Debug/net7.0/Listening.Main.WebAPI.assets.cache
Listening.Main.WebAPI/obj/Debug/net7.0/Listening.Main.WebAPI.csproj.AssemblyReference.cache
Listening.Main.WebAPI/obj/Debug/net7.0/Listening.Main.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
Listening.Main.WebAPI/obj/Debug/net7.0/Listening.Main.WebAPI.GlobalUsings.g.cs
MediaEncoder.Domain/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MediaEncoder.Domain/obj/Debug/net7.0/MediaEncoder.Domain.AssemblyInfo.cs
MediaEncoder.Domain/obj/Debug/net7.0/MediaEncoder.Domain.AssemblyInfoInputs.cache
MediaEncoder.Domain/obj/Debug/net7.0/MediaEncoder.Domain.assets.cache
MediaEncoder.Domain/obj/Debug/net7.0/MediaEncoder.Domain.csproj.AssemblyReference.cache
MediaEncoder.Domain/obj/Debug/net7.0/MediaEncoder.Domain.GeneratedMSBuildEditorConfig.editorconfig
MediaEncoder.Domain/obj/Debug/net7.0/MediaEncoder.Domain.GlobalUsings.g.cs
MediaEncoder.Infrastructure/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MediaEncoder.Infrastructure/obj/Debug/net7.0/MediaEncoder.Infrastructure.AssemblyInfo.cs
MediaEncoder.Infrastructure/obj/Debug/net7.0/MediaEncoder.Infrastructure.AssemblyInfoInputs.cache
MediaEncoder.Infrastructure/obj/Debug/net7.0/MediaEncoder.Infrastructure.assets.cache
MediaEncoder.Infrastructure/obj/Debug/net7.0/MediaEncoder.Infrastructure.csproj.AssemblyReference.cache
MediaEncoder.Infrastructure/obj/Debug/net7.0/MediaEncoder.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
MediaEncoder.Infrastructure/obj/Debug/net7.0/MediaEncoder.Infrastructure.GlobalUsings.g.cs
MediaEncoder.Infrastructure/obj/MediaEncoder.Infrastructure.csproj.nuget.dgspec.json
MediaEncoder.Infrastructure/obj/MediaEncoder.Infrastructure.csproj.nuget.g.props
MediaEncoder.Infrastructure/obj/MediaEncoder.Infrastructure.csproj.nuget.g.targets
MediaEncoder.Infrastructure/obj/project.assets.json
MediaEncoder.Infrastructure/obj/project.nuget.cache
MediaEncoder.Infrastructure/obj/project.packagespec.json
MediaEncoder.Infrastructure/obj/rider.project.model.nuget.info
MediaEncoder.Infrastructure/obj/rider.project.restore.info
MediaEncoder.Domain/obj/MediaEncoder.Domain.csproj.nuget.dgspec.json
MediaEncoder.Domain/obj/MediaEncoder.Domain.csproj.nuget.g.props
MediaEncoder.Domain/obj/MediaEncoder.Domain.csproj.nuget.g.targets
MediaEncoder.Domain/obj/project.assets.json
MediaEncoder.Domain/obj/project.nuget.cache
MediaEncoder.Domain/obj/project.packagespec.json
MediaEncoder.Domain/obj/rider.project.model.nuget.info
MediaEncoder.Domain/obj/rider.project.restore.info
MediaEncoder.WebAPI/obj/MediaEncoder.WebAPI.csproj.nuget.dgspec.json
MediaEncoder.WebAPI/obj/MediaEncoder.WebAPI.csproj.nuget.g.props
MediaEncoder.WebAPI/obj/MediaEncoder.WebAPI.csproj.nuget.g.targets
MediaEncoder.WebAPI/obj/project.assets.json
MediaEncoder.WebAPI/obj/project.nuget.cache
MediaEncoder.WebAPI/obj/project.packagespec.json
MediaEncoder.WebAPI/obj/rider.project.model.nuget.info
MediaEncoder.WebAPI/obj/rider.project.restore.info
MediaEncoder.WebAPI/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MediaEncoder.WebAPI/obj/Debug/net7.0/MediaEncoder.WebAPI.AssemblyInfo.cs
MediaEncoder.WebAPI/obj/Debug/net7.0/MediaEncoder.WebAPI.AssemblyInfoInputs.cache
MediaEncoder.WebAPI/obj/Debug/net7.0/MediaEncoder.WebAPI.assets.cache
MediaEncoder.WebAPI/obj/Debug/net7.0/MediaEncoder.WebAPI.csproj.AssemblyReference.cache
MediaEncoder.WebAPI/obj/Debug/net7.0/MediaEncoder.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
MediaEncoder.WebAPI/obj/Debug/net7.0/MediaEncoder.WebAPI.GlobalUsings.g.cs
Listening.Main.WebAPI/obj/Listening.Main.WebAPI.csproj.nuget.dgspec.json
Listening.Main.WebAPI/obj/Listening.Main.WebAPI.csproj.nuget.g.props
Listening.Main.WebAPI/obj/Listening.Main.WebAPI.csproj.nuget.g.targets
Listening.Main.WebAPI/obj/project.assets.json
Listening.Main.WebAPI/obj/project.nuget.cache
Listening.Main.WebAPI/obj/project.packagespec.json
Listening.Main.WebAPI/obj/rider.project.model.nuget.info
Listening.Main.WebAPI/obj/rider.project.restore.info
